@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace fill "org.shinyheaven.datavisualization.fill.*";

.add {
    chromeColor: #87ceeb;
}

.next {
    chromeColor: #9acd32;
}

.finish {
    chromeColor: #ff8c00;
}

fill|DashedGridFill {
    gridBackground: #ffe4c4;
    gridColor: #b67c3d;
    gridDistance: 33.3;
}

s|TitleWindow {
    cornerRadius: 8;
}
