@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.add {
    chromeColor: #87ceeb;
}

.next {
    chromeColor: #9acd32;
}

.finish {
    chromeColor: #ff8c00;
}
